body {
	margin: 0;
}

table {
	/*margin-left: auto;*/
	width: 50%;
	margin-right: auto;
	border: none;
	border-spacing: 10px 5px;
}

th {
	background-color: #FFCDA0;
	color: rgb(34,34,34);
	padding: 5px;
	text-align: right;
	font-weight: normal;
}

th:first-child {
	border-radius: 10px 0 0 10px;
}
th:last-child {
	text-transform: uppercase;
	border-radius: 0 10px 10px 0;
}

td {
	color: #CCCCCC;
	text-align: left;
	border: none;
    font-size: 14pt;
}

tr {
	margin-top: 10px;
}

.tableheader {
    font-size: 14pt;
	font-weight: bold;
	background-color: #FF9C4F;
	color: rgb(34,34,34);
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10px 10px 10px 10px;
}

#info {
	display: inline-block;
	background-color: rgba(34,34,34,0.75);
	position: absolute;
	top: 300px;
	left: 100px;
	width: 60%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	font-size: 10pt;
}

#description {
	display: inline;
	float: left;
	width: 50%;
}

.info {
	opacity: 0;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

	/*border-bottom-right-radius: 20px;*/
}

.infoVisible {
	opacity: 1;

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.toggelAnimationBtn {
	font-size: 24pt;
	margin-left: 25px;
	margin-top: 25px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF9C4F), color-stop(1, #FF9C4F) );
	background:-moz-linear-gradient( center top, #ff0000 5%, #000dff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#000dff');
	background-color:#ff0000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.attribution {
  font-size: 12px;
  color: #444;
  text-decoration: none;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}
.attribution:hover {
  color: #1fa67a;
}

.botonimagen{
      background-image:url("/assets/facebook-icon.png");
}